<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Настройки активности</h1>
    <form action="/activity/settings/grades" method="GET">
        <button type="submit" class="btn btn-success">Изменить источник таблицы</button>
    </form>
    <br>
    <form action="/activity/settings/grades" method="GET">
        <button type="submit" class="btn btn-success">Изменить оценки</button>
    </form>
    <br>
    <form action="/activity/settings/grades" method="GET">
        <button type="submit" class="btn btn-success">Изменить учеников</button>
    </form>
    <br>
    <form action="/activity/settings/grades" method="GET">
        <button type="submit" class="btn btn-success">Изменить преподавателей</button>
    </form>
    <br>
    <form action="/activity" method="GET">
        <button type="submit" class="btn btn-success">Вернуться в меню активности</button>
    </form>
</body>
</html>