<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Активности</h1>
    <div>Список активностей:</div>
    <form action="/activity" method="post">
        <input type="text" name="activities" list="activitiesList" th:value="${activities}">
        <datalist id="activitiesList">
            <option th:each="option : ${activityOption}" th:value="${option}" th:text="${option}"></option>
        </datalist>


        <button type="submit" class="btn btn-success">Выбрать</button>
    </form>

    <br>
    <form action="/activity/create" method="GET">
        <button type="submit" class="btn btn-success">Создать новую активность</button>
    </form>
    <br>
</body>
</html>