<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/grades/set" method="GET">
    <button type="submit" class="btn btn-success">Добавить задачи</button>
  </form>
  <br>
  <form action="/grades/delete" method="GET">
    <button type="submit" class="btn btn-success">Удалить задачи</button>
  </form>
  <br>
  <form action="/activity" method="GET">
      <button type="submit" class="btn btn-success">Вернуться в меню активности</button>
  </form>
</body>
</html>