services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: olymp-task-setter
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "127.0.0.1:5433:5432"